.category {
  color: black;
  font-weight: bold;
  font-size: 15px;
  gap: 5px;
}

.category-link {
  margin: 0 10px;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

.category-link:hover {
  color: gray;
}

.category-link.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

@media (max-width: 360px) {
  .category {
    color: black;
    font-weight: bold;
    gap: 5px;
  }
  .category-link {
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 10px;
  }
}
