.slide-in-cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 600px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  transition: right 0.3s ease;
  z-index: 1030;
}

.slide-in-cart.visible {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  padding-left: 100px;
  margin-top: -20px;
}

.cart-content {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.checkout-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
.emt-cart {
  text-align: center;
  margin-top: 150px;
}
.no-item {
  width: 250px;
  height: 250px;
}
.cart-back-img {
  position: absolute;
  top: 45%;
  left: 30%;
  opacity: 0.9;
  z-index: -1;
}
.cart-back-img img {
  width: 250px;
  height: auto;
}

@media (max-width: 768px) {
  .slide-in-cart {
    position: fixed;
    width: 650px;
  }
  .cart-header h2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 10px;
  }
  .cart-header i {
    display: none;
  }
  .cart-content img {
    height: 250px;
    object-fit: scale-down;
    margin-left: -200px;
  }
  .cart-content h4 {
    margin-top: -260px;
    margin-left: 250px;
    font-size: 25px;
  }
  .cart-content p {
    margin-left: 250px;
    font-size: 20px;
  }
  .cart-content button {
    margin-left: 250px;
    height: 40px;
  }
  .cart-content h5 {
    margin-left: 250px;
    font-size: 25px;
  }
  .qty{
    margin-top: -90px;
  }
}

@media (max-width: 428px) {
  .slide-in-cart {
    position: fixed;
    width: 380px;
  }
  .cart-header h2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 10px;
  }
  .cart-header i {
    display: none;
  }
  .cart-content img {
    height: 150px;
    object-fit: scale-down;
    margin-left: -120px;
  }
  .cart-content h4 {
    margin-top: -160px;
    margin-left: 150px;
  }
  .cart-content p {
    margin-left: 150px;
  }
  .cart-content button {
    margin-left: 150px;
  }
  .cart-content h5 {
    margin-left: 150px;
  }
}

@media (max-width: 360px) {
  .slide-in-cart {
    position: fixed;
    width: 300px;
  }
  .cart-header h2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 10px;
  }
  .cart-header i {
    display: none;
  }
  .cart-content img {
    height: 150px;
    object-fit: scale-down;
    margin-left: -80px;
  }
  .cart-content h4 {
    margin-top: -160px;
    margin-left: 150px;
    font-size: 15px;
  }
  .cart-content p {
    margin-left: 150px;
  }
  .cart-content button {
    margin-left: 150px;
  }
  .cart-content h5 {
    margin-left: 120px;
  }
  .qty{
    margin-left: -60px;
  }
}
