.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.324);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 1.1em;
    border-radius: 0 0 8px 8px;
}
