.sort-select {
  width: 200px;
  margin-right: 10px;
  font-weight: bold;
  border: white;
  background: white;
  color: #000;
}

.pageName {
  font-weight: bold;
}

.product-card {
  width: 100%;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-1px);
}

.product-card-img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.product-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-out;
}

.product-card:hover .product-card-img {
  transform: scale(1.1);
}

.product-card:hover .quick-add-button {
  opacity: 1;
}

.product-name {
  font-weight: bold;
  margin-top: 15px;
}

.product-price {
  color: #333;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.color-option {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.color-option.selected {
  border: 2px solid #007bff;
}

.color-swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #000;
  background-color: white;
}

.size-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.size-option {
  padding: 10px;
  text-align: center;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.size-option.selected {
  background-color: #007bff;
  color: white;
  border: 2px solid #0056b3;
}

.size-option:hover {
  background-color: #e0e0e0;
}
