.pageName {
  margin-left: 100px;
}

.sort-dropdown {
  position: relative;
  display: inline-block;
  width: 250px;
}

.sort-button {
  background: white;
  border: 1px solid white;
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.sort-options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort-options li {
  padding: 8px 16px;
  cursor: pointer;
}

.sort-options li:hover {
  background-color: #f0f0f0;
}

.arrow {
  margin-left: 8px;
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 4px;
  transition: transform 0.2s ease;
}

.arrow.down {
  transform: rotate(45deg);
}

.arrow.up {
  transform: rotate(-135deg);
}

.pageName {
  font-weight: bold;
}

.product-card {
  width: 100%;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-1px);
}

.product-card-img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.product-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-out;
}

.product-card:hover .product-card-img {
  transform: scale(1.1);
}

.product-card:hover .quick-add-button {
  opacity: 1;
}

.product-name {
  font-weight: bold;
  margin-top: 15px;
}

.product-price {
  color: #333;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.color-option {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.color-option.selected {
  border: 2px solid #007bff;
}

.color-swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #000;
  background-color: white;
}

.size-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.size-option {
  padding: 10px;
  text-align: center;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.size-option.selected {
  background-color: #007bff;
  color: white;
  border: 2px solid #0056b3;
}

.size-option:hover {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .col-md-9 .row > .col-md-3,
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .sort {
    justify-content: center;
    padding-left: 115px;
  }

  .pageName {
    text-align: center;
    padding-right: 100px;
  }
}

@media (max-width: 320px) {
  .col-md-9 .row > .col-md-3,
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .sort {
    justify-content: center;
    padding-left: 90px;
  }

  .pageName {
    text-align: center;
    padding-right: 100px;
  }
}